<html>
<head>
    <title>${title}</title>
</head>
<body>
    <div id='camera'>
        <img id='camera-image' width="100%">
        <div id='timestamp'></div>
    </div>
</body>
<script>
    var lastTimestamp = new Date(0);

    setInterval(showDataWithImages, 2000);
    showDataWithImages();

    function showDataWithImages() {

        var oXHR = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');

        function reportStatus() {
            if (oXHR.readyState == 4)               // Request completed.
                showImages(this.responseText);     // All set. Now show the data.
        }

        oXHR.onreadystatechange = reportStatus;
        oXHR.open("GET", "current.json", true);   // true = asynchronous request, false = synchronous request.
        oXHR.send();

        function showImages(json) {
            var data = {};
            data = JSON.parse(json); 	// Populate array with JSON data.

            currentImageTimestamp = new Date(data.current.time);

            if(lastTimestamp < currentImageTimestamp){
                console.log("New image available for " + currentImageTimestamp.toString());

                var img = document.getElementById('camera-image');
                img.src = data.current.name;

                var divTimestamp = document.getElementById('timestamp');
                divTimestamp.innerHTML = currentImageTimestamp.toString();
                lastTimestamp = currentImageTimestamp;
            }
        }
    }
</script>